#dps ver se vale ou não apena criar requeriments diferentes para o controller e o autoupdate

fastapi
uvicorn
#llama-index-core
pydantic
mysql-connector-python
qdrant_client
#llama-index-embeddings-huggingface
#llama-index-vector-stores-qdrant
#llama-index-llms-huggingface
#llama-index-llms-openllm