#dps ver se vale ou não apena criar requeriments diferentes para o controller e o autoupdate

fastapi
uvicorn
llama-index
pydantic
mysql-connector-python
llama-index-embeddings-huggingface
llama-index-vector-stores-qdrant
#llama-index-llms-openllm